@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome</h1>
    <h1 class="display-5">This is a small WebApp made with .Net and C#</h1>
    <h3 class="display-6">by Eduardo Labian Rubia.</h3>
</div>
