@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome</h1>
    <h1 class="display-5">This is a small WebApp made with .Net and C#</h1>
    <h3 class="display-6">by Eduardo Labian Rubia.</h3>
    <p><br><b>You can click on 'Database' to view and manage all data or click on 'Search' to look for a specific person.<br> Anything other than viewing data requires you to log in. The email provided can be made up.</b></p>
</div>
